---
layout: subpage
permalink: /sas/shop
comments: true
---
<div class="services-container">
    <div style="display: flex; justify-content: end;">
        <button id="open-menu" class="menu-button"><img src="{{site.baseurl}}/assets/images/menu-icon.svg"
                class="menu-icon" /></button>
    </div>

    {% include menu.html %}
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div style="display: flex; flex-direction: row; align-items: center;">
            <div class="logo-div-subpage">
                <span class="span-animate"><img class="logo-div-subpage"
                        src="{{site.baseurl}}/assets/images/SAS-01-light.svg" /></span>
            </div>
            <div class="text-div" style="margin-left: 10px">
                <span class="span-animate" style="margin-right: 4px;"> Shop </span>
            </div>
        </div>
        <div class="services-row"
            style="justify-content: space-between; align-items: center; border: 1px solid grey; border-radius: 10px; flex-direction: column; width:70%">
            <div id="captioned-gallery">
                <figure class="slider">
                    <figure>
                        <img src="{{site.baseurl}}/assets/images/di_box_2.jpg" alt>
                    </figure>
                    <figure>
                        <img src="{{site.baseurl}}/assets/images/di_box_11.jpg" alt>
                    </figure>
                    <figure>
                        <img src="{{site.baseurl}}/assets/images/di_box_3.jpg" alt>
                    </figure>
                    <figure>
                        <img src="{{site.baseurl}}/assets/images/di_box_4.jpg" alt>
                    </figure>
                </figure>
            </div>
            <div
                style="display: flex; flex-direction: column;  margin:14px; max-width: 60%; justify-content: end; align-items: center;">
                <span style="color: white;">{% t sas.roseText %}</span>
                <button style="max-width: 20%; min-width: 45%; margin-top: 40px" class="read-more"><a
                        href="mailto:info@specializedaudioservices.com">{% t sas.contactUs %}</a></button>

            </div>
            {% include all-comments.html %}
        </div>

    </div>