<footer class="footer-layout footer-background" style="height: 100%">
  <div class="footer-container">
    <div class="logos-mobile" style="display: flex; flex-direction: column; margin-left: 60px;">
      <img class="logo-image" style="margin-bottom: 20px; margin-right: 20px;"
        src="{{site.baseurl}}/assets/images/SAS-logo.svg" alt="LOGO">
      <img class="logo-image" src="{{site.baseurl}}/assets/images/as-logo.svg" alt="LOGO">
    </div>
  </div>
  <div class="footer-container">
    <h2 style="color: #C7C7C9; justify-content: start; font-weight: bold;">{% translate footer.contactUs %}</h2>
    <div style="display: flex; flex-direction: column; margin-top: 20px; margin-bottom: 20px;">
      <div class="footer_text">
        <img src="{{site.baseurl}}/assets/images/email-icon.svg" class="social-icons"></img>
        {{site.email1 }}
      </div>
      <div class="footer_text">
        <img src="{{site.baseurl}}/assets/images/phone-icon.svg" class="social-icons"></img>
        {{ site.phone_number1 }}
      </div>
    </div>
    <div style="display: flex; flex-direction: column;">
      <div class="footer_text">
        <img src="{{site.baseurl}}/assets/images/email-icon.svg" class="social-icons"></img>
        {{site.email2 }}
      </div>
      <div class="footer_text">
        <img src="{{site.baseurl}}/assets/images/phone-icon.svg" class="social-icons"></img>
        {{ site.phone_number2 }}
      </div>

    </div>
  </div>
  <div class="footer-container">
    <form action="https://formspree.io/f/mgedkdka" method="POST">
      <div style="width: 100%;">
        <input style="width: 95%;" type="text" name="firstName" placeholder="{% translate footer.name %}"
          class="input-contact">
        <input style="margin-top: 15px; width: 95%;" type="text" name="email" placeholder="{% translate footer.email %}"
          class="input-contact">
      </div>
      <div>
        <textarea resize="false" name="message" placeholder="{% translate footer.message %}"
          class="input-contact input-text"></textarea>
      </div>
      <div style="display: flex; justify-content: center; align-items: center; margin-right: 12px; margin-top: 15px;">
        <button type="submit" class="input-button">{% translate footer.submit %}</button>
      </div>
    </form>
  </div>
  <div class="footer-container" style="align-items: center;">
    <div style="display: flex;">
      <h2 style="color: #C7C7C9; justify-content: start; font-weight: bold; margin-bottom: 50px;">
        {% translate footer.followUs %}</h2>
    </div>
    <div style="display: flex; flex-direction: row; margin-top:20px; margin-bottom: 60px; align-items: flex-start;">
      <img style="margin-right: 26px;" src="{{site.baseurl}}/assets/images/facebook-icon.svg" alt="">
      <a target="_blank" href="https://www.instagram.com/specializedaudioservices/"><img style="margin-right: 26px;"
          src="{{site.baseurl}}/assets/images/igIcon.svg" alt=""></a>
      <img style="margin-right: 26px;" src="{{site.baseurl}}/assets/images/linkedin-icon.svg" alt="">
      <!-- <img style="margin-right: 26px;" src="{{site.baseurl}}/assets/images/ytIcon.svg" alt=""> -->
    </div>
    <div style="display: flex; flex-direction: row; align-items: flex-start;">
      <img style="margin-right: 26px;" src="{{site.baseurl}}/assets/images/facebook-icon.svg" alt="">
      <img style="margin-right: 26px;" src="{{site.baseurl}}/assets/images/igIcon.svg" alt="">
      <img style="margin-right: 26px;" src="{{site.baseurl}}/assets/images/linkedin-icon.svg" alt="">
      <!-- <img style="margin-right: 26px;" src="{{site.baseurl}}/assets/images/ytIcon.svg" alt=""> -->
    </div>
  </div>
  <div style="display: flex; flex-direction: row; flex: 100%; justify-content: center; margin-bottom: 26px; ">
    <span style="color: #C7C7C9">2022 | {% translate footer.footerBottom %}</span>
  </div>
</footer>