<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <title>Audio and acoustic services</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            if (!("ontouchstart" in document.documentElement)) {
                $(".button-options1").hover(function () {
                    $("#option1").animate({
                        width: 'toggle',
                        height: 'toggle'
                    });
                });
                $(".button-options2").hover(function () {
                    $("#option2").animate({
                        width: 'toggle',
                        height: 'toggle'
                    });
                });
            }

            $('#open-menu').click(function () {
                $("#sidebar").addClass('show')
                $(".content").addClass("blur")
            });
            $('#close-menu').click(function () {
                $("#sidebar").removeClass('show')
            });
        });
    </script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
</head>