body
    margin: unset
.main-banner
    background-image: url("http://127.0.0.1:8887/banner-new.jpg")
    height: 100vh
    background-repeat: no-repeat
    width: 100%
    background-size: cover
    background-position: center 20%
