---
carousels:
- images:
- image: /assets/images/di_box_2.jpg
- image: /assets/images/di_box_11.jpg
- image: /assets/images/di_box_3.jpg
- image: /assets/images/di_box_4.jpg
- images:
- image: /assets/images/hify-0544.jpg
- image: /assets/images/hify-0544-min.jpg
- image: /assets/images/landing.jpg
- image: /assets/images/vu-min.jpg
---
<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
{% include head.html %}

<body>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css">
    <section class="content">
        {{ content }}
    </section>

    {% include footer.html %}
</body>

</html>